body {
    background-color: bisque;
    color: darkblue;
    font-family: Arial;
}

h1 {
    font-size: xxx-large;
    color: cornflowerblue;
    font-family: "Arial Narrow";
}

h3 {
    color: deepskyblue;
    font-family: "Arial Blue";
}

dt {
    color: blueviolet;
}

.plain {
    text-decoration: none;
    color: red;
}

.plain:hover {
    text-decoration: underline;
}

.drop-caps::first-letter {
    float: left;
    font-size: 150%;
    text-shadow: 2px 2px 6px #000;
}
