<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="/js/logic.js"></script>
</head>

<body>
<form action="http://127.0.0.1:3000/" method="get">
    <input type="text" name="x" id="xiput">
    <input type="button" id="sub" value="Submit">
</form>
<div id="res">
    
</div>
</body>
</html>